@charset "utf-8";
body,div{
	margin: 0;padding: 0;
}
#con{
	margin: 20px auto;
	width: 300px;
}
#box{
	margin: 20px auto;
	position: relative;
	width: 100px;
	height: 30px;
	background: #008000;
}
#mark{
	position: absolute;
	top: 30px;
	display: none;
	width: 300px;
	height: 100px;
	background: #08bece;
}
